.grid-square {
  height: 48px;
  width: 48px;
}

.grid-square button {
  height: 100%;
  width: 100%;
  border: 1px solid #f7f7f7;
  background: transparent;
  padding-block: 0;
  padding-inline: 0;
  cursor: pointer;
}
